<!DOCTYPE html>
<html>
<body>
	<br>
	{% if request.user.is_authenticated %}
	{% comment %} <center> Logout the chat Page <a href = "{% url 'logout-user' %}">Logout</a></center> {% endcomment %}
	{% endif %}

	
	<script>
		{% for i in order_items %}
			console.log("{{i.meal}}")
		{% endfor %}
	const chatSocket = new WebSocket("ws://" + window.location.host + "/");
	chatSocket.onopen = function (e) {
		console.log("The connection was setup successfully !");
	};
	chatSocket.onclose = function (e) {
		console.log(e)
		console.log("Something unexpected happened !");
	};
	{% comment %} document.querySelector("#id_message_send_input").focus();
	document.querySelector("#id_message_send_input").onkeyup = function (e) {
		if (e.keyCode == 13) {
		document.querySelector("#id_message_send_button").click();
		}
	};
	document.querySelector("#id_message_send_button").onclick = function (e) {
		var messageInput = document.querySelector(
		"#id_message_send_input"
		).value;
		chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
	}; {% endcomment %}
	chatSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		{% comment %} var div = document.createElement("div"); {% endcomment %}
		console.log(data)
		{% comment %} div.innerHTML = data.username + " : " + data.message;
		document.querySelector("#id_message_send_input").value = "";
		document.querySelector("#id_chat_item_container").appendChild(div); {% endcomment %}
	};
	</script>
</body>
</html>
