<div id="live_connection">
    Creating Connection.......!! Please wait
</div>

<div id="order_items"></div>
<!-- Items to be displayed here -->

<button onclick="getNewOTP()">Get New OTP</button>

<script>
    const chatSocket = new WebSocket("ws://" + window.location.host + "/");
    const otp = document.querySelector("#live_connection");
    const orderItemsDiv = document.querySelector("#order_items");

    chatSocket.onopen = function (e) {
        console.log("Connection for current_delivery Established!");
        otp.innerHTML = "Connection Established! Please Wait.....";
        getNewOTP();
    };

    function getNewOTP() {
        otp.innerHTML = "Getting New OTP";
        chatSocket.send(JSON.stringify({
            'type': 'get_new_otp',
            'message': 'get_new_otp'
        }));
    }

    function sendDelivered(orderId) {
        chatSocket.send(JSON.stringify({
            'type': 'delivered',
            'order_id': orderId
        }));
    }

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data);
        console.log(data.type);
        
        if (data.type === "new_otp") {
            console.log("New OTP : " + data.otp);
            otp.innerHTML = "New OTP : " + data.otp;

        } else if (data.type === "delivered") {
            otp.innerHTML = "Items Delivered";

        } else if (data.type === "error") {
            otp.innerHTML = "Error : " + data.message;

        } else if (data.type === "New Order") {
            updateOrderItems(data.order);

        } else if (data.type === "update_items") {
            updateItemCount(data.message);
        }
    };

    function updateOrderItems(items) {
        orderItemsDiv.innerHTML = ""; // Clear the previous items
        console.log(items);
        items = JSON.parse(items);
        items.forEach(
            (item) => {
                console.log(item.item_name+item.quantity)
                updateItemCount(item.item_name,getItemCount(item.item_name).prepared+item.quantity);
            }
        )
    }
    
</script>
