<div id="live_connection">
    Creating Connection.......!! Please wait
</div>

<div id="order_items"></div>
    <!-- Items to be displayed here -->
</div>

<button onclick="getNewOTP()">Get New OTP</button>

<script>
    const chatSocket = new WebSocket("ws://" + window.location.host + "/");
    const otp = document.querySelector("#live_connection");
    const orderItemsDiv = document.querySelector("#order_items");

    chatSocket.onopen = function (e) {
        console.log("Connection for current_deliver Established!");
        otp.innerHTML = "Connection Established ! Please Wait.....";
        getNewOTP();
    };

    function getNewOTP() {
        otp.innerHTML = "Getting New OTP";
        chatSocket.send(JSON.stringify({
            'type': 'get_new_otp',
            'message': 'get_new_otp'
        }));
    }

    function sendDelivered(orderId) {
        chatSocket.send(JSON.stringify({
            'type': 'delivered',
            'order_id': orderId
        }));
    }

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data);
        
        if (data.type == "new_otp") {

            // otp.innerHTML = data.otp;
            console.log(data)
            console.log("New OTP : " + data.otp)
            otp.innerHTML = "New OTP : " + data.otp;

        } else if (data.type == "delivered") {
            otp.innerHTML = "Items Delivered";
        } else if (data.type == "error") {
            otp.innerHTML = "Error : " + data.message;
        } else if (data.type == "order_items") {
            updateOrderItems(data.items);
        }
    };

    function updateOrderItems(items) {
        orderItemsDiv.innerHTML = "";
        items.forEach(item => {
            const itemDiv = document.createElement("div");
            itemDiv.innerHTML = `
                <p>${item.name} - Quantity to be delivered: ${item.quantity}</p>
                <button onclick="sendDelivered(${item.order_id})">Delivered</button>
            `;
            orderItemsDiv.appendChild(itemDiv);
        });
    }
</script>
