{%load static%}
{% load bootstrap_icons %}
<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <form role="search d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <h1 class="justify-content-end">{{canteen.name}}</h1>
      <div >
        <a class="navbar-brand nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" ><img src={%static 'img/namedlogo.png' %} height=40px></a>
        <ul class="dropdown-menu-end dropdown-menu">
          <form role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form>
          {% for canteen in canteens %}
            <li><a class="dropdown-item" href={%url 'canteen' canteen.id %}>{{canteen.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="justify-content-end">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% bs_icon 'person' color='black' %}</a>
        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
            <li><a class="dropdown-item" href="#">Change Password</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
      {% comment %} <div class="justify-content-end">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Select Canteen
          </a>
          <ul class="dropdown-menu">
            <form role="search d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            {% for canteen in canteens %}
              <li><a class="dropdown-item" href={%url 'canteen' canteen.id %}>{{canteen.name}}</a></li>
            {% endfor %}
          </ul>
      <div> {% endcomment %}
      </div>
    </div>
  </nav>



  