{% extends 'components/base.html' %} 
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Home Page</h1>
            <h2>Choose one canteen from the dropdown</h2>
        </div>
    </div>
</div>

<script>
    {% comment %} function decreaseQuantity(button) {
        event.preventDefault();
        var input = button.previousElementSibling;
        if (input.value > 0) {
            input.value--;
        }
    }

    function increaseQuantity(button) {
        event.preventDefault();
        var input = button.previousElementSibling.previousElementSibling;
        if (input.value < input.getAttribute("max")) {
            input.value++;
        }
    }

    function updateValues() {
        // var inputs = document.querySelectorAll('input[type="number"]');
        // inputs.forEach(function(input) {
        //     input.setAttribute("value", input.value);
        // });
        document.getElementById("form").submit();
    } {% endcomment %}
</script>

{% endblock %}
